@import "../../styles/variables";

.header {
  background: white;

  .wp {
    margin: 0 auto;
    width: 960px;
    display: flex;
    align-items: center;
  }

  .social {
    flex: 1;
    width: 260px;
  }

  .nav {
    flex: 4;
    width: 700px;
    display: flex;
    padding: 1rem 1.0875rem;

    .link {
      display: inline-block;
      color: $black;
      text-decoration: none;
      margin-right: 1.45rem;
    }
  }
}
